<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking App</title>
    <style>
        body {
            width: 100%;
        }
        input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        }
        input[type=number], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        }

        input[type=submit] {
        /* width: 100%; */
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width:  120px;

        }

        input[type=submit]:hover {
        background-color: #45a049;
        }

        div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        width: 50%;
        }

        h1 {
            font-size: 35px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: center;
        }

        form {
            width: 100%;
        }

        #btn {
            display: flex;
            flex-direction: row;
            justify-content: start;
            padding: 0;
            margin: 0;
        }

        #submit-btn {
            background-color: blue;
        }

        #cancel-btn {
            background-color: red;
        }
</style>
    </style>
</head>
<body>
    <h1>Check Out</h1>
    <div>
        <form action="/checkOut/<%= data.parkingId %>/input" method="POST">
            <label for="parkingId">Id</label>
          <input type="text" id="parkingId" name="parkingId" value="<%= data.parkingId %>"><br>

          <label for="memberId">Member Id</label>
          <input type="text" id="memberId" name="memberId" value="<%= data.memberId %>"><br>

          <label for="vehicleId">Vehicle Id</label>
          <input type="text" id="vehicleId" name="vehicleId" value="<%= data.vehicleId %>"><br>

          <label for="buildingId">Building Id</label>
          <input type="text" id="buildingId" name="buildingId" value="<%= data.buildingId %>"><br>
         
          <label for="checkIn">Check In</label>
          <input type="text" id="checkIn" name="checkIn" value="<%= data.checkIn.toISOString() %>"><br>

          <label for="checkOut">Check Out</label>
          <input type="text" id="checkOut" name="checkOut" value="<%= end.toISOString() %>"><br>

          <label for="discount">Discount</label>
          <input type="text" id="discount" name="discount" value="<%= discount %>"><br>

          <label for="cost">Basic Cost</label>
          <input type="text" id="cost" name="cost" value="<%= data.cost %>"><br>

          <label for="totalCost">Total Cost</label>
          <input type="text" id="totalCost" name="totalCost" value="<%= total %>"><br>
          
          <label for="paymentMethod">Payment Method</label>
            <select name="paymentMethod" id="paymentMethod">
                <% if (data.Member.balance - total >= 0) { %>
                    <option value="E-Money">E-Money</option>
                <% } %> 
                <option value="Cash">Cash</option>
            </select>
            <% if (data.Member.balance - total >= 0) { %>
                <label for="balance">Balance</label><br>
                <input type="text" name="balance" id="balance" value="<%= balance %>">
            <% } %> 
          <div id="btn">
              <input id="submit-btn" type="submit" value="Submit">
              <input id="cancel-btn" type="submit" value="Cancel" formmethod="GET" formaction="/checkIn">
          </div>
         
        </form>
      </div>
</body>
<script>
</script>
</html>