<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking App</title>
    <style>
        #ph {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #ph td, #ph th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #ph tr:nth-child(even){background-color: #f2f2f2;}

        #ph tr:hover {background-color: #ddd;}

        #ph th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #ADE8EE;
            color: white;
        }
        h1 {
            font-size: 35px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: center;
        }
        #add {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: normal;
            background-color: #00C339;
            color: white;
            padding: 14px 20px;
            margin: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width:  120px;

        }

        #list {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        .btn {
            background-color: #00A5C0;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width:  110px;
            height: 30px;
        }

        #search {
            height: 24px;
        }
    </style>
</head>
<body>
    <%- include('partial/navbar'); %>
    <br>
    <h1>Check In Data</h1>
    <% if(message) { %>
        <div style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" class="alert alert-primary" role="alert">
            <%= message %>
          </div>
    <% } %>
    <div id="list">
        <form action="/checkIn/input-member" method="GET">
            <h2 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">List Check In</h2>
            <input class="btn" type="submit" value="Add Check In">
        </form>
    </div>
    <br><table id="ph">
        <thead>
            <tr>
                <th style="text-align: center;">ID</th>
                <th style="text-align: center;">Member ID</th>
                <th style="text-align: center;">Vehicle ID</th>
                <th style="text-align: center;">Building ID</th>
                <th style="text-align: center;">Check In</th>
                <th style="text-align: center;">Check Out</th>
                <th style="text-align: center;">Payment Status</th>
                <th style="text-align: center;">Cost</th>

            </tr>
        </thead>
        <tbody>
            <% result.forEach(datum => { %>
                <tr>
                    <td style="text-align: center;"><%= datum.id %></td>
                    <td style="text-align: center;"><%= datum.memberId%></td>
                    <td style="text-align: center;"><%= datum.vehicleId%></td>
                    <td style="text-align: center;"><%= datum.buildingId%></td>
                    <td style="text-align: center;"><%= datum.checkIn%></td>
                    <td style="text-align: center;"><%= datum.checkOut%></td>
                    <td style="text-align: center;"><%= datum.paymentStatus%></td>
                    <td style="text-align: center;"><%= datum.cost%></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
<script>
</script>
</html>